﻿@using WPN;
@using WPN.Models
@{ 
    var user = WPNUser.Current;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@PageData["Title"] &lsaquo; @SiteConfig.SiteName &#8212; WPN</title>@RenderSection("head", required: false)
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link href="~/wpnAdmin/style/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/wpnAdmin/style/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/wpnAdmin/style/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/wpnAdmin/style/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/wpnAdmin/style/skin-blue.min.css">

    <script src="~/wpnAdmin/js/jquery-1.11.3.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="~/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>WPN</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>@SiteConfig.SiteName</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/wpnAdmin/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">@user.UserName</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/wpnAdmin/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        Alexander Pierce - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/wpnAdmin/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@user.UserName</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">@WPNUtl.T("MAIN NAVIGATION")</li>
                    <li class="treeview" id="Pages">
                        <a href="#"><i class="fa fa-file-code-o"></i><span>@WPNUtl.T("Pages")</span><i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="~/wpnAdmin/Pages">@WPNUtl.T("All Pages")</a></li>
                            <li><a href="~/wpnAdmin/Pages?view=New">@WPNUtl.T("New")</a></li>
                        </ul>
                    </li>
                    <li class="treeview" id="Plugins">
                        <a href="#">
                            <i class="fa fa-laptop"></i> <span>@WPNUtl.T("Plugins")</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="~/wpnAdmin/Plugins">@WPNUtl.T("All Plugins")</a></li>
                            <li><a href="~/wpnAdmin/Plugins/Install">@WPNUtl.T("Install Plugins")</a></li>
                        </ul>
                    </li>
                    
                    <li class="treeview" id="Themes">
                        <a href="#">
                            <i class="fa fa-bell-o"></i>
                            <span>@WPNUtl.T("Themes")</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="~/wpnAdmin/pages/charts/chartjs.html">@WPNUtl.T("All Themes")</a></li>
                            <li><a href="~/wpnAdmin/pages/charts/inline.html">@WPNUtl.T("Install Themes")</a></li>
                        </ul>
                    </li>
                    <li class="treeview" id="Settings">
                        <a href="#">
                            <i class="fa fa-calendar"></i> <span>@WPNUtl.T("Settings")</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="~/wpnAdmin/Settings/Profile">@WPNUtl.T("Profile Settings")</a></li>
                            <li><a href="~/wpnAdmin/Settings/System">@WPNUtl.T("System Settings")</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div><!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2015-2016 <a href="@SiteConfig.SitePrefix">Wordpress .Net</a>.</strong> All rights reserved.
        </footer>
        <!-- Control Sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    <!-- jQuery 2.1.4 -->
    <!-- Bootstrap 3.3.5 -->
    <script src="~/wpnAdmin/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/wpnAdmin/js/app.min.js"></script>
    @RenderSection("foot", required: false)
</body>
</html>
