﻿@using WPN;
@using WPN.DAL;
@using WPN.Models;
@using System.Data;
@using System.Linq;
@functions {
    int Step_1(string error)
    {
        var ds = Request["datasource"];
        var db = Request["database"];
        var user = Request["userid"];
        var pwd = Request["pwd"];
        if (ds == null || ds.Trim() == string.Empty)
        {
            error = "Data source could not be empty";
        }
        if (db == null || db.Trim() == string.Empty)
        {
            error = "Database could not be empty";
        }
        if (user != null && user.Trim() == string.Empty)
        {
            user = null;
        }
        if (pwd != null && pwd.Trim() == string.Empty)
        {
            pwd = null;
        }
        if (error == string.Empty)
        {
            var connStr = ResolveService.Create<WPN.DAL.IDataBase>().GetConnectionString(ds, db, user, pwd);
            var conn = ResolveService.Create<IDbConnection>();
            conn.ConnectionString = connStr;
            try
            {
                conn.Open();
                conn.Close();
                WPNManagement.ConnectionString = connStr;
            }
            catch (Exception e)
            {
                error = e.Message;
            }
        }
        if (error != string.Empty)
        {
            return 1;
        }
        else
        {
            return 2;
        }
    }

    int Step_2(string error)
    {
        var prefix = Request["table_prefix"];
        if (prefix == null || prefix.Trim() == string.Empty)
        {
            error = "Table Prefix could not be empty";
            return 2;
        }
        else
        {
            if (ResolveService.Create<IDataBase>().CreatTables(prefix))
            {
                WPNManagement.Set("TablePrefix", prefix);
                error = "Done!";
                return 3;
            }
            else
            {
                error = "Create table failed";
                return 2;
            }
        }
    }

    int Step_3(string error)
    {
        var site_name = Request["site_name"];
        var site_desc = Request["site_desc"];
        if (site_name==null||site_name.Trim()==string.Empty)
        {
            error = "Site Name could not be empty";
            return 3;
        }
        if (site_desc == null || site_desc.Trim() == string.Empty)
        {
            error = "Site description could not be empty";
            return 3;
        }
        SiteConfig.SiteName = site_name;
        return 4;
    }

    int Step_4(string error)
    {
        var admin_user = Request["admin_user"];
        var admin_pwd = Request["admin_pwd"];
        var admin_pwd2 = Request["admin_pwd_2"];
        var admin_email = Request["admin_email"];
        if (admin_user == null || admin_pwd == null || admin_pwd2 == null || admin_email==null || admin_email.Trim()==null || admin_user.Trim() == string.Empty || admin_pwd.Trim() == string.Empty || admin_pwd2.Trim() == string.Empty)
        {
            error = "None of the fields could be empty";
            return 4;
        }
        else if (admin_pwd.Trim() != admin_pwd2.Trim()) {
            error = "The two password do not match";
            return 4;
        }
        else
        {
            if (WPNManagement.Get("Hash_Salt") == null)
            {
                WPNManagement.Set("Hash_Salt", Guid.NewGuid().ToString());
            }
            var user = new WPNUser { UserEmail = admin_email, UserName = admin_user, UserPwd = admin_pwd, UserNickName = admin_user };
            WPNUser.CreateAdmin(user);
            InitData.Do();
            return 5;
        }
    }
}
@{
    var stepStr = Request["step"];
    var error = string.Empty;
    if (stepStr == null)
    {
        stepStr = "0";
    }
    int step = 0;
    if (!Int32.TryParse(stepStr, out step))
    {
        step = 0;
    }
    switch (step)
    {
        case 0:
        case 1:
            step = Step_1(error);
            break;
        case 2:
            step = Step_2(error);
            break;
        case 3:
            step = Step_3(error);
            break;
        case 4:
            step = Step_4(error);
            break;
        default:
            break;
    }
    step = step == 0 ? 1 : step;
}
<html>
<head>
    <link href="~/wpnAdmin/style/bootstrap.min.css"  rel="stylesheet" />
    <script src="~/wpnAdmin/js/jquery-1.11.3.min.js"></script>
    <script src="~/wpnAdmin/js/jquery.validate.min.js"></script>
    <script src="~/wpnAdmin/js/bootstrap.min.js"></script>
    <title>Installation</title>
    <style>
        body{padding-top:20px;}
    </style>
    @if (step==5)
    {
        <meta http-equiv="refresh" content="10;url=Login.cshtml" />
    }
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Installion @error
                </div>
                <div class="panel-body">
                    <form method="get" action="Install.cshtml" id="install_form" name="install_form" >
                        <input type="hidden" id="step" value="@step" name="step" />
                        @{if (step == 1)
                            {
                        <div class="input-group ">
                            <label>Database Source</label>
                            <input type="text" class="form-control" id="datasource" name="datasource" required value="@Request["datasource"]" />
                        </div>

                        <div class="input-group">
                            <label>Database name</label>
                            <input type="text" class="form-control" id="database" name="database" required value="@Request["database"]" />
                        </div>

                        <div class="input-group">
                            <label>Database user</label>
                            <input type="text" class="form-control" id="userid" name="userid" value="@Request["userid"]" />
                        </div>

                        <div class="input-group">
                            <label>Database Password</label>
                            <input type="password" class="form-control" id="pwd" name="pwd"  value="@Request["pwd"]" />
                        </div>
                            }
                            else if (step == 2)
                            {
                                <div class="input-group ">
                                    <label>Table Prefix</label>
                                    <input type="text" class="form-control" id="table_prefix" name="table_prefix" required value="@Request["table_prefix"]" />
                                </div>
                            }
                            else if (step == 3)
                            {
                                <div class="input-group ">
                                    <label>Site Name</label>
                                    <input type="text" class="form-control" id="site_name" name="site_name" required value="@Request["site_name"]" />
                                </div>
                                <div class="input-group ">
                                    <label>Site Description</label>
                                    <input type="text" class="form-control" id="site_desc" name="site_desc" required value="@Request["site_desc"]" />
                                </div>
                            }
                            else if (step == 4)
                            {
                                <div class="input-group">
                                    <label>Admin Name</label>
                                    <input type="text" class="form-control" id="admin_user" name="admin_user" required />
                                </div>
                                <div class="input-group">
                                    <label>Admin Password</label>
                                    <input type="password" class="form-control" id="admin_pwd" name="admin_pwd" required />
                                </div>
                                <div class="input-group">
                                    <label>Repeat Password</label>
                                    <input type="password" class="form-control" id="admin_pwd_2" name="admin_pwd_2" required />
                                </div>

                                <div class="input-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" id="admin_pwd_2" name="admin_email" required />
                                </div>
                            }
                            else if (step==5)
                            {

                            }
                        }
                    <div class="input-group" style="margin-top:20px;">
                        <input type="submit" value="Next" class="form-control btn-primary" />
                    </div>
                        </form>
                </div>
            </div>
                
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $("install_form").validate();
</script>
@if (step == 5)
{
    WPNManagement.RefreshConfig();
}