﻿@using WPN.Models;
@using WPN;
@using System.Web;
@{ 
    var request = HttpContext.Current.Request;
    var response = HttpContext.Current.Response;
    var username = request["username"];
    var userpwd = request["userpwd"];
    if (username!=null||userpwd!=null)
    {
        username = username.Trim();
        userpwd = userpwd.Trim();
        if (userpwd!=string.Empty && username!=string.Empty)
        {
            string token = WPNUser.ValidateUser(username, userpwd);
            if (token!=null)
            {
                var cookies = new HttpCookie(SiteConfig.SiteName + "_token");
                cookies.Value = username + ":" + token;
                cookies.Expires = DateTime.Now.AddHours(2);
                response.Cookies.Add(cookies);
                var refer = request["_refer"];
                if (string.IsNullOrEmpty(refer))
                {
                    refer = "/";
                }

                response.Write("<Meta http-equv=\"refresh\" content=\"5;url=" + this.Href(refer) + "\">");

                response.Write(WPNUtl.T("Singing in...."));
                response.Write("<script>window.location=\"" + this.Href(refer) + "\";</script>");
                response.Flush();
                response.End();
            }
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@SiteConfig.SiteName | @WPNUtl.T("Log in")</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link href="~/wpnAdmin/style/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/wpnAdmin/style/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->

    <link href="~/wpnAdmin/style/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/wpnAdmin/style/AdminLTE.min.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/wpnAdmin/js/plugins/iCheck/square/blue.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="~"><b>@SiteConfig.SiteName</b></a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">@WPNUtl.T("Sign in")</p>
            <form action="~/wpnAdmin/Login" method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="username" placeholder="UserName">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="userpwd" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" name="save_login"> @WPNUtl.T("Remember Me")
                            </label>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">@WPNUtl.T("Sign In")</button>
                        @if (!string.IsNullOrEmpty(request["_refer"]))
                        {
                            <input type="hidden" value=@request["_refer"] name="_refer" />
                        }
                    </div><!-- /.col -->
                </div>
            </form>
            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
            </div><!-- /.social-auth-links -->
            <a href="~/wpnAdmin/Register" class="text-center">@WPNUtl.T("Register a new membership")</a>
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/wpnAdmin/js/jquery-1.11.3.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/wpnAdmin/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/wpnAdmin/js/plugins/iCheck/icheck.min.js"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
</body>
</html>
