﻿@using System.Web;
@using WPN;
@using WPN.Models;

@{
    Layout = "_Layout.cshtml";
    PageData["Title"] = WPNUtl.T("Page");
    string view = Request.QueryString["view"];
    var term = HttpContext.Current.Request["term"];
    if (term==null||term.Trim()==string.Empty)
    {
        term = Term.Taxonomy;
    }
    if (string.IsNullOrEmpty(view))
    {
        view = "index";
    }
    if (view == "index")
    {
        <section class="content-header">
            <h1>@WPNUtl.T("Pages")<small><a class="btn btn-primary btn-xs" role="button" href="Pages?view=New">@WPNUtl.T("New Page")</a> </small></h1>
            <ol class="breadcrumb"><li><a href="#">@WPNUtl.T("Home")</a></li><li class="active">@WPNUtl.T("Pages")</li></ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <a href="Page/List/all" class="btn">@WPNUtl.T("All") <span class="badge">100</span></a>
                    <a href="Page/List/Posted" class="btn">@WPNUtl.T("Posted") <span class="badge">90</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                        </div>
                        <div class="box-body  no-padding">
                            <table class="table table-hover table-responsive">
                                <thead>
                                    <tr><td>@WPNUtl.T("Title")</td>
                                    <td>@WPNUtl.T("Author")</td><td>@WPNUtl.T("Category")</td><td>@WPNUtl.T("Tag")</td><td>@WPNUtl.T("Comments")</td><td>@WPNUtl.T("Date")</td></tr>
                                </thead>
                                <tbody>
                                    @* List the pages in term *@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    if (view == "New")
    {
        <section class="content-header">
            <h1>@WPNUtl.T("New Page")</h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header ">
                        </div>
                        <div class="box-body  no-padding">
                            <form action="~/wpnAdmin/Pages?view=Save" method="post" id="newpost" >
                                <div class="col-xs-12 form-group with-border">
                                    <label>Title</label>
                                    <input type="text" class="form-control" placeholder="title" name="title" required />
                                </div>
                                <div class="col-xs-12">
                                    <label>Category</label>
                                    <select id="taxonomy" name="taxonomy" class="form-control" required></select>
                                    @{
                                        var json = Taxonomy.GetTaxonomiesInJson(term);
                                        <script language="javascript">
                                            var data = @Html.Raw(json);
                                            for (var i = 0; i < data.length; i++) {
                                                $("<option />", {value: data[i].TaxonomyID, text: data[i].TaxonomyName}).appendTo($("#taxonomy"));
                                            }
                                        </script>
                                    }
                                </div>
                                <div class="col-xs-12">
                                    <label>Content</label>
                                    <textarea name="content" required>Hello World</textarea>
                                </div>
                                
                            </form>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary" onclick="javascript:GoSubmit()">Submit</button>
                            <a href="#">All Pages</a>
                        </div>
                    </div>
                </div>
            </div>
</section>
    <script src="~/wpnAdmin/js/tinymce/tinymce.min.js" ></script><script src="~/wpnAdmin/js/jquery.validate.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            height:300,
            language: 'zh_CN',
            menubar: false,
            plugins: [
		"advlist autolink lists link image charmap print preview hr anchor pagebreak",
		"searchreplace wordcount code fullscreen",
		"insertdatetime media save table contextmenu ",
		"emoticons template paste textcolor colorpicker imagetools"
            ],
            toolbar1: "styleselect fontselect fontsizeselect forecolor backcolor | undo redo searchreplace | code fullscreen preview",
            toolbar2: "cut copy paste pastetext alignleft aligncenter alignright alignjustify | bullist numlist | outdent indent blockquote",
            toolbar3: "bold italic underline strikethrough subscript superscript |  table  | charmap emoticons  |  template pagebreak | link unlink anchor image media  | insertdatetime ",

        });

        function GoSubmit()
        {
            $("#newpost").validate({
                rules:{
                    title:"required"
                },
                submitHandler:function(form){
                    form.submit();
                },
                messages:{
                    title:"Please specify the title"
                }
            });
        }
    </script>

    }
}
@section foot{
<script type="text/javascript">
            $(document).ready(function () {
                $("#Pages").addClass('active');
            })

            
</script>
}