﻿@using Bee.Core;
@using WPN;
@using System.Web;
@{
    Layout = "~/wpnAdmin/_Layout.cshtml";
    PageData["User"] = Model;
    PageData["Title"] = WPNUtl.T("Plugin");
    var plugins = WPNPlugin.GetPluginLists();
    var p = HttpContext.Current.Request.QueryString["pluginName"];
    var view = HttpContext.Current.Request.Url.AbsolutePath.Replace("/wpnAdmin/Plugins", string.Empty).Trim();
    if (view == string.Empty)
    {
        view = "index";
    }
    <script type="text/javascript">
            $(document).ready(function () {
                $("#Plugins").addClass('active');
            });
    </script>
    if (view == "/Active" || view == "/DeActive" || view == "/Uninstall" || view == "/Install")
    {
        if (p == null || p.Trim() == string.Empty)
        {
            view = "index";
        }
    }
    if (view == "index")
    {
        <section class="content-header">
            <h1>@WPNUtl.T("Plugins")<small><a href="Plugins/Install" class="btn btn-primary btn-xs">@WPNUtl.T("Install Plugins")</a></small></h1>
            <ol class="breadcrumb"><li><a href="#">@WPNUtl.T("Home")</a></li><li class="active">@WPNUtl.T("Plugins")</li></ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">@WPNUtl.T("All Plugins")</h3>
                        </div>
                        <div class="box-body  no-padding">
                            <table class="table table-hover table-responsive">
                                <thead>
                                    <tr><td>@WPNUtl.T("Plugin Name")</td><td>@WPNUtl.T("Version")</td><td>@WPNUtl.T("Author")</td><td>@WPNUtl.T("Description")</td><td>@WPNUtl.T("Action")</td></tr>
                                </thead>
                                @foreach (PluginInfo pi in plugins)
                                {
                                    <tr>
                                        <td>@pi.PluginName</td>
                                        <td>@(pi.MajorVersion + "." + pi.MinorVersion)</td>
                                        <td>@pi.Author</td>
                                        <td>@pi.Desc</td>
                                        <td>
                                            @{
                                                var plname = string.Empty;
                                                plname = EventFilter.Apply<string>("santilize_plugin_name", plname, pi.PluginName);
                                            }
                                            @if (WPNPlugin.IsActive(plname))
                                            {
                                                <a href="~/wpnAdmin/Plugins/DeActive?pluginName=@plname">@WPNUtl.T("DeActive")</a>
                                            }
                                            else
                                            {
                                                <a href="~/wpnAdmin/Plugins/Active?pluginName=@plname">@WPNUtl.T("Active")</a>
                                            }
                                            <a href="~/wpnAdmin/Plugins/DeInstall?pluginName=@plname">@WPNUtl.T("Deinstall")</a>
                                        </td>
                                    </tr>
                                                }
                            </table>
                        </div>
                        <div class="box-footer">
                            <div class="col-xs-12 text-center">
                            <a href="~/wpnAdmin/Plugins/Install">@WPNUtl.T("Install Plugins")</a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    }
    if (view == "/Active")
    {
       var plugin_folder = EventFilter.Apply<string>("santilize_plugin_name", string.Empty, p);
       if (WPNPlugin.IsActive(plugin_folder))
       {
           <div class="alert-info" role="alert">The plugin already running</div>
       }
       else
       {
           <div class="alert alert-info" role="alert">
    <p>Activating the plugin</p>
            @{
                var pi = WPNPlugin.GetPluginInfo(Utl.GetAbsPath(WPNPlugin.PluginFolder) + System.IO.Path.DirectorySeparatorChar + plugin_folder);

                WPNPlugin.Active(pi);
            }
               <p>The plugin is now running...</p></div>
               <meta http-equiv="refresh" content="5; url=@Href("~/wpnAdmin/Plugins")" />
       }
     }
     if(view == "/DeActive")
     {

     }
}
@section foot {
<script type="text/javascript">
            $(document).ready(function () {
                $("#Plugins").addClass('active');
            });
</script>
}