﻿body {
    padding-top:30px;
}
#sidebar {
    height:100%;
    padding-right:0;
    padding-top:20px;
    width:160px;
}
#sidebar .nav {
    width:100%;
}
#sidebar li {
    border:0px #f2f2f2 solid;
    border-bottom-width:1px;
}
@media screen and (max-width:767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        tansition: all 0.25s ease-out;
    }

    .row-offcanvas-right .sidebar-offcanvas{
        right:-25%;
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left:-25%;
    }

    .row-offcanvas-right.active {
        right:25%;
    }

    .row-offcanvas-left.active {
        left:25%;
    }

    .sidebar-offcanvas {
        position:absolute;
        top:0;
        width:20%;
    }

    #sidebar {padding-top:0;}
}